<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>ASCII text art to image converter</title>
    <style>
        #ascii-art-text {
        font-family: 'Courier New', monospace;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>ASCII text art to image converter</h1>
    <form id="ascii-input-form" action="/ascii-to-image/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% load static %}
        <div class="form-group">
            <label for="ascii-art-text">Enter ASCII art text:</label>
            <textarea class="form-control" required id="ascii-art-text" name="ascii-art-text"
                      rows="10">{{ text }}</textarea>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">Convert to image</button>
    </form>
</div>
<div class="container mt-5">
    <h2>Converted images</h2>
    {% if error %}
    <p class="text-danger">Error: {{ error }}</p>
    {% elif converted %}
    <h3>Detailed ASCII</h3>
    <img class="img-thumbnail" src="{{ paths.0 }}" alt="Converted ascii text to image 1">

    <h3>Standard gray ramp</h3>
    <img class="img-thumbnail" src="{{ paths.1 }}" alt="Converted ascii text to image 2">

    <h3>Alternative</h3>
    <img class="img-thumbnail" src="{{ paths.2 }}" alt="Converted ascii text to image 3">
    {% else %}
    <p>Converted ASCII images show here.</p>
    {% endif %}
</div>
<div class="container mt-5 mb-5">
    <h2>Notes</h2>
    <p>Unrecognised ASCII symbols are treated as white tiles in image generation.</p>
    <p>The ASCII gray ramps used for each image is
    <ol>
        <li><code>$@B%8&amp;WM#*oahkbdpqwmZO0QLCJUYXzcvunxrjft/\\|()1{}[]?-_+~&lt;&gt;i!lI;:,&quot;^`'. </code></li>
        <li><code>@%#*+=-:. </code></li>
        <li><code>@&amp;%#(/*,. </code></li>
    </ol>
    Note that there is a whitespace at the end for all ASCII gray ramps.
    </p>
    <p>External link: <a target="_blank" href="https://manytools.org/hacker-tools/convert-images-to-ascii-art/">Convert
        images to ASCII
        art</a></p>
</div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById("ascii-input-form").addEventListener('submit',function(){
    document.getElementById("submit").disabled=true;
    document.getElementById("submit").innerHTML="Converting..";
    });

</script>
</body>
</html>